.drumpants_buttonHit {
	-webkit-box-shadow: 0 0 15px 5px rgba(209,184,57,0.8);
	-moz-box-shadow: 0 0 15px 5px rgba(209,184,57,0.8);
	box-shadow: 0 0 15px 5px rgba(209,184,57,0.8);

	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all  0.3s ease-out;
}

.drumpants_button {
	font-weight: bold;
	display: inline-block;
	padding:5px;
	font-size: 10px;
	text-decoration: none;

	color: white;


	background: rgb(124,191,249); /* Old browsers */
background: -moz-linear-gradient(top, rgba(124,191,249,1) 0%, rgba(105,182,250,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(124,191,249,1)), color-stop(100%,rgba(105,182,250,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(124,191,249,1) 0%,rgba(105,182,250,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(124,191,249,1) 0%,rgba(105,182,250,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(124,191,249,1) 0%,rgba(105,182,250,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(124,191,249,1) 0%,rgba(105,182,250,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7cbff9', endColorstr='#69b6fa',GradientType=0 ); /* IE6-9 */
}

.drumpants_midiForm {
	position: absolute;
	z-index: 1000000;

	display:block;

	padding: 20px;

	background: rgb(242,249,254); /* Old browsers */
background: -moz-linear-gradient(top, rgba(242,249,254,1) 0%, rgba(214,240,253,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(242,249,254,1)), color-stop(100%,rgba(214,240,253,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(242,249,254,1) 0%,rgba(214,240,253,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(242,249,254,1) 0%,rgba(214,240,253,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(242,249,254,1) 0%,rgba(214,240,253,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(242,249,254,1) 0%,rgba(214,240,253,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f9fe', endColorstr='#d6f0fd',GradientType=0 ); /* IE6-9 */
}

	.drumpants_midiForm input {
		padding: 3px;
	}

	.drumpants_midiForm label {
		font-weight: bold;
		display: block;
		margin-bottom:5px;
	}

	.drumpants_midiForm .delete {
		padding: 0px 6px;
	}